.gorilla-header {
  height: 70px;
  width: 100%;
  background-color: rgb(56, 51, 37);
  line-height: 70px;
  padding: 0 30px;
  position: fixed;
  z-index: 10;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  &__title-logo {
    display: flex;
    align-items: center;
    .title-image{
      width: 50px;
      height: 50px;
      background-image: url("/images/gorilla3.png");
      background-size: cover;
      border-radius: 20px;
      margin-right: 5px;
    }
    .title-logo {
      width: 200px;
      text-align: center;
      font-size: 30px;
      color: whitesmoke;
      text-decoration: none;
      &:hover {
        color: rgb(168, 119, 54);
      }
    }
  }
  &__contents {
    width: 300px;
    margin-right: 50px;
    color: white;
    .header_btn {
      margin-left: 30px;
      color: whitesmoke;
      text-decoration: none;
    }
  }
}