@import url(https://fonts.googleapis.com/css?family=Creepster);

.gorilla-header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  background-color: rgba(39, 46, 29, 0.95);
  line-height: 70px;
  padding: 0 30px;
  position: fixed;
  z-index: 10;
  font-weight: 900;
  box-sizing: border-box;
  &__title-logo {
    display: flex;
    align-items: center;
    .title-image{
      width: 50px;
      height: 50px;
      background-image: url("/images/gorilla3.png");
      background-size: cover;
      border-radius: 20px;
      margin-right: 5px;
    }
    .title-logo {
      width: 200px;
      text-align: center;
      font-size: 29px;
      font-family: 'Creepster', cursive;
      color: whitesmoke;
      text-decoration: none;
      &:hover {
        transition: 1s;
        color: rgb(207, 146, 65);
      }
    }
  }
  .edit-button {
    button {
      width: 250px;
      text-align: center;
      margin-top: 25px;
      font-size: 20px;
      color: rgb(231, 226, 216);
      background-color: rgb(56, 51, 37);
      border: none;
      border-bottom: 1px solid rgb(219, 215, 208);
      cursor: pointer;
      outline: 0;
      border-radius: 10px;
      &:hover {
        color: rgb(207, 146, 65);
      }
    }
  }
  &__contents {
    width: 500px;
    display: flex;
    .header_btn-1{
      width: 120px;
      font-size: 18px;
      margin-right: 40px;
      color: whitesmoke;
      text-decoration: none;
      text-align: end;
      &:hover {
        color: rgb(207, 146, 65);
      }
    }
    .header_btn {
      height: 100%;
      width: 80px;
      font-size: 15px;
      display: block;
      color: whitesmoke;
      margin-left: 25px;
      text-decoration: none;
      &:hover {
        color: rgb(207, 146, 65);
      }
    }
    .header_btn-a {
      height: 100%;
      width: 80px;
      font-size: 15px;
      display: block;
      color: whitesmoke;
      margin-left: 25px;
      text-decoration: none;
      cursor: pointer;
      
      &:hover {
        color: rgb(207, 146, 65);
      }
      &.jq_trans {
        transition: all 1s;
        transform: translate(0px, -50px) rotate(0deg);
      }
    }
    .header_btn-b {
      height: 100%;
      width: 80px;
      font-size: 15px;
      display: block;
      color: whitesmoke;
      margin-left: 25px;
      text-decoration: none;
      &:hover {
         color: rgb(207, 146, 65);
      }
    }
  }
}