<%# var html = `<%= link_to user_relationship_path(@user,@writer.id), method: :delete, remote: true, class: "follow-btn__a" do %>
              <%# <%= icon("fab", "ello") %> %>
              <%# <div class="G"> %>
               <%# G %>
              <%# </div> %>
            <%# <% end %>` %>
            
<%# $(".follow_btns").html(html); %> %>
