.diaries-index__wrapper 
  .index-main
    .index-main__center
      .new__diaries
        .new-diary
          .new-diary__title
            板垣死すとも、自由はしせず！！
          .new-diary__contributor
            .contributor
              投稿者：坂本龍馬
            .datetime
              投稿日：1867/12/10
        
    