var html = `<i class="far fa-star"></i>
            <%= link_to diary_likes_path(@diary.id), method: :post, remote: true, class: "favorite-btn__b" do %>
            <i class="fas fa-star"></i>
            <% end %>`

$(".new__diaries").html('<%= j(render(partial:"diaries/diary", collection: @diaries ,as: :diary)) %>').append('<div class="last-box"></div>');
$(".user__diaries").html('<%= j(render(partial:"users/userdiary", collection: @writer_diaries, as: :diary)) %>').append('<div class="last-box"></div>');
$(".show-diary__box__like").html(html);