.diaries-edit__wrapper 
  .edit-main
    .edit-main__left
      .top
        .posts-title
          MyDiary
        .posts-box
          .post-box
            .post-title
              頑張りましょうああああああああああああ
            .post-content
              ほんま甲斐ないいいいいいいいいwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            .post-datetime
              2019/03/01
          .post-box
          .post-box
          .post-box
          .post-box
          .post-box
          .empty-box
        
      .bottom
        .favorites-title
          FavoriteDiary
        .favorites-box
          .favorite-box
            .favorite-title
            .favorite-content
            .favorite-user
          .favorite-box
            .favorite-title
            .favorite-content
            .favorite-user
          .favorite-box
            .favorite-title
            .favorite-content
            .favorite-user
          .favorite-box
            .favorite-title
            .favorite-content
            .favorite-user
          .favorite-box
            .favorite-title
            .favorite-content
            .favorite-user
          .favorite-box
            .favorite-title
            .favorite-content
            .favorite-user
          .empty-box
      .form-contents__wrapper
        = form_with model:@user, local: true , class: "form-b" do |f|
          .form-title
            アカウント編集
          %button{class:"edit-btn", id:"edit-btn", type:"button"}
            ❌
          .form-contents
            .field
              .block
                nickname
              = f.text_field :nickname, autofocus: true, autocomplete: "nickname"
            .field
              .block
                email
              = f.email_field :email, autofocus: true, autocomplete: "email"
            .action
              = f.submit "登録", class: "edit-btn"   
    .edit-main__right
      .following-users__contents
        .content-title
          フォロー
        .following-users
          -# render @usersを使って
          .following-user
            .following-image
            .following-nickname 
              麻生太郎
            .on__new-diary
              -# もし新しい日記があれば
              new diary！
          .following-user 
            .following-image
            .following-nickname 
              板垣退助
            .on__new-diary
              -# もし新しい日記があれば
              new diary！
          
      .browdsing-history
        .browdsing-history__title
          %p 閲覧履歴
        -# render @diariesを使って or each 文
        .browdsing-history__diaries
          .browdsing-history__diary
            .browdsing-history__diary-head
              .history-image
              .history-nickname 
                麻生太郎
              .history-datimes
                2020/05/05
            .browdsing-history__diary-bottom
              タイトル： 
              やったー！今晩の夜食は洋食だ！！
          .browdsing-history__diary
            .browdsing-history__diary-head
              .history-image
              .history-nickname 
                安倍晋三
              .history-datimes
                2020/05/04
            .browdsing-history__diary-bottom
              タイトル：
              今夜の一言日記