.gorilla-wrapper
  .gorilla-wrapper__mask
    .gorilla-title
      %span Grilla diary .
    .gorilla-decorate
    .gorilla-contents
      .gorilla-message
        %h1 Thank you for coming to Gorilla diary.
        %h4 Made this site for only you.
        %h2 Would you like some coffee or tea?
      .gorilla-items
        .btn__sign-up
          = link_to "#", class: "gorilla_btn" do
            %b 新規登録
        .btn__login
          = link_to "#", class: "gorilla_btn" do
            %b ログイン