.diaries-index__wrapper {
  height: 100vh;
  width: 100vw;
  
  .index-main {
    display: flex;
    width: 100%;
    height: 100vh;
    
    &__content {
      display: flex;
      height: 100%;
      width: 100%;
      overflow-x: scroll;
      .side-bar {
        background: radial-gradient(ellipse at bottom, rgb(160, 155, 86) 50%, rgb(175, 171, 114) 100%);
        height : 100%;
        width: 280px;
      }
      .new__diaries {
        display: flex;
        width: calc(100% - 280px);
        height: 100%;
        overflow-x: scroll;
        .new-diary__wrapper {
          position: relative;
          width: 500px;
          height: 530px;
          border-radius: 10px;
          margin: 200px 0 0 40px;
          min-width: 500px;
          text-decoration: none;
          .far {
            position: absolute;
            top: 15px;
            right: 30px;
            color: rgba(46, 44, 42, 0.719);
            font-size: 40px;
            z-index: 9;
          }
          .favorite-btn__a {
            position: absolute;
            top: 14px;
            right: 37px;
            z-index: 10;
            color: rgb(255, 251, 8);
            font-size: 28px;
          }
          .favorite-btn__b {
            position: absolute;
            top: 14px;
            right: 36px;
            z-index: 10;
            color: rgb(114, 110, 106);
            font-size: 30px;
            :hover {
              transition: 0.7s;
              color: rgba(255, 251, 8, 0.021);
            }     
          }
          .dairy_path{
            width: 500px;
            height: 530px;
            text-decoration: none;
            .new-diary {
              background-color: rgba(233, 222, 206, 0.9);
              border: 3px solid rgba(94, 91, 89, 0.719);
              border-radius: 10px;
              box-shadow: 0.2em 0.2em 0.5em black;
              text-decoration: none;
              &:hover {
                transition: 0.3s;
                box-shadow:none;
              }
              &__title {
                position: relative;
                height: 80px;
                line-height: 80px;
                font-size: 20px;
                padding: 0 70px 0  30px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: 900;
                border-radius: 10px;
                color: rgb(66, 58, 58);
                background-color: rgba(245, 243, 239, 0.349);
                border-bottom: 3px solid rgba(46, 44, 42, 0.719);
                
                .new-diary__contributor {
                  display: flex;
                  position: absolute;
                  bottom: -5px;
                  right: 0px;
                  justify-content: space-between;
                  float: right;
                  width: 60%;
                  margin-right: 20px;
                  padding: 0 5px;
                  font-size: 13px;
                  color: rgb(65, 61, 55);
                  .contributor {
                    font-weight: 900;
                    line-height: 30px;
                  }
                  .datetime {
                    font-weight: 900;
                    line-height: 30px;
                  }
                }
              }
              .new-diary__content {
                width: 400px;
                height: 370px;
                font-size: 16px;
                margin: 15px auto;
                color: rgb(107, 95, 95);
                background-color: white;
                border-radius: 10px;
                overflow-y: scroll;
                padding: 0px 25px;
                line-height: 23px;
                font-weight: bold;
                box-shadow: 0.2em 0.2em 0.5em black;
                word-wrap: break-word;
                white-space: pre-wrap;
              }
            } 
          }
        }
        .last-box{
          min-width:  40px;
        }    
      } 
    }
  }
}