

.diaries-new__wrapper {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  .diary__create-main {
    height: 100%;
    width: 100%;
    border:1px solid rgba(61, 58, 47, 0.9);
    box-sizing: border-box;
    background-image: url("/images/gorilla7.jpg");
    background-size: cover;
    opacity: 0.8;
    display: none;
  }
  .diary__create-image {
    position: absolute;
    bottom: 0px;
    height: 300px;
    width: 300px;
    background-image: url("/images/gorilla6.png");
    background-size: cover; 
    opacity: 0.9;
  }
  .diary__create-box {
    position: absolute;
    top: 100px;
    left: 410px;
    height: 600px;
    width: 580px;
    border: 5px solid rgba(61, 58, 47, 0.9);
    background-color: rgba(233, 222, 206, 0.9);
    border-radius: 10px;
    padding-top: 20px;
    .create-title {
      width: 400px;
      margin: 15px auto;
      color: rgb(107, 95, 95);
      box-sizing: border-box;
      .title-size {
        width: 350px;
        height: 40px;
        padding: 8px 20px 0 20px;
        background-color: white;
        color: rgb(107, 95, 95);
        font-weight: 900;
        border-radius: 10px;
        box-shadow: 0.2em 0.2em 0.5em black;
        outline: 0;
        &::placeholder {
          color: rgba(83, 81, 68, 0.534);
          font-size:  18px;
          font-weight: 900;
        }
      }
    }
    .create-content {
      margin: 30px auto 0 auto;
      width: 500px; 
      .content-size {
        width: 87%;
        height: 350px;
        font-size: 16px;
        border-radius: 10px;
        background-color: white;
        color: rgb(107, 95, 95);
        font-weight: 900;
        line-height: 25px;
        padding: 25px 31px 20px 31px;
        box-shadow: 0.2em 0.2em 0.5em black;
        border: 1px solid #ccc;
        outline: 0;
        &::placeholder {
          color: rgba(83, 81, 68, 0.534);
          font-size: 20px;
          font-weight: 900;
        }
      }
    }
    .create-btn  {
      position: absolute;
      bottom: 10px;
      right: 40px;
      height: 50px;
      .submit-size {
        width: 100px; 
        height: 50px;
        background-color: rgb(73, 70, 61);
        border-radius: 10px;
        border:3px solid rgba(61, 47, 47, 0.9);
        color: #eee8df;
        outline: 0;
        cursor: pointer;
        &:hover{
        background-color:rgba(73, 70, 61, 0.767);
        }
      }
    } 
  }
}