.diaries-show__wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  .show-main {
    display: flex;
    width: 100%;
    height: 100%;
    &__content {
      display: flex;
      height: 100%;
      width: 100%;
      .side-bar {
        background: radial-gradient(ellipse at bottom, rgb(160, 155, 86) 50%, rgb(175, 171, 114) 100%);
        height : 100%;
        width: 280px;
        padding-top: 60px;
        .side-bar__name_box {
          position: relative;
          padding-top: 60px;
          height: 200px;
          background-color: cornsilk;
          border-radius: 10px;
          .user-name_title {
            font-size: 35px;
            border-bottom: 1px solid black;
            border-radius: 10px;
            padding-bottom: 5px;
            text-align: center;
          }
          .user-name{
            height: 40px;
            font-size: 17px;
            color: rgb(63, 28, 3);
            margin-top: 40px;
            padding-left: 20px;
            display: flex;
            line-height: 40px;
            .user_image {
              width: 45px;
              height: 35px;
              background-image: url("/images/gorilla4.png"); 
              background-size: cover;
              margin-right: 20px;
            }
            .user-nickname {
              text-decoration: none;
              color: rgb(58, 48, 48);
              &:hover {
                color: brown;
              }
            }
          }
          .follow_btns {
              position: absolute;
              right: 25px;
              bottom: 40px;
              z-index: 10;
            .follow-btn__a {
              font-size: 60px;
              color:rgb(241, 168, 10);
            }
            .follow-btn__b {
              font-size: 60px;
              color: rgba(241, 168, 10, 0.253);
              &:hover {
                transition: 0.7s;
                color:rgb(241, 168, 10);
              }
            }
          }
          .G {
            position: absolute;
            right: 20px;
            bottom: 30px;
            font-size: 25px;
            color: rgb(92, 47, 47);
            z-index: 9;
           }
          .datetime-box {
            position: absolute;
            right: 20px;
            bottom: 10px;
          }
        }
        
      }
      .show-diary__box__wrapper {
        display: flex;
        width: calc(100% - 280px);
        height: 100%;
        overflow: hidden;
        .show-diary__box {
          height: 600px;
          width: 680px;
          border: 5px solid rgba(61, 58, 47, 0.9);
          background-color: rgba(233, 222, 206, 0.9);
          border-radius: 10px;
          font-size: 20px;
          line-height: 40px;
          margin: 130px 70px  10px 70px ;
          padding-top: 20px;
          box-shadow: 0.2em 0.2em 0.5em black;
          &__title {
            width: 70%;
            height: 50px;
            background-color: white;
            color: rgb(107, 95, 95);
            font-weight: 900;
            box-sizing: border-box;
            margin: 20px auto;
            padding: 8px 20px 0 20px;
            border-radius: 10px;
            box-shadow: 0.2em 0.2em 0.5em black;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          &__content {
              width: 75%;
              height: 450px;
              margin: 30px auto 0 auto;
              padding: 20px;
              font-size: 20px;
              border-radius: 10px;
              background-color: white;
              word-wrap: break-word;
              white-space: pre-wrap;
              box-sizing: border-box;
              color: rgb(107, 95, 95);
              font-weight: 900;
              font-size: 13pt;
              line-height: 23px;
              padding: 10px 31px 20px 31px;
              box-shadow: 0.2em 0.2em 0.5em black;
              border: 1px solid #ccc;
              overflow: scroll;
          }
        }
        .comments-box__wrapper {
          height: 100%;
          width: 29%;
          background-color: rgba(255, 255, 255, 0.479);
          .comments-box__title {
            margin: 100px auto 0 auto ;
            height: 40px;
            width: 95%; 
            border-bottom: 3px solid rgb(124, 114, 114);
            border-radius: 10px;
            text-align: center;
            font-size: 25px;
            overflow: hidden;
          }
          .comments-box {
            margin: 20px auto 0 auto;
            height: 450px;
            width: 93%;
            border: 2px solid rgb(128, 111, 111);
            border-radius: 10px;
            background-color: white;
            overflow-y: scroll;
            .comment-box {
              width: 100%;
              height: 100px;
              border-bottom: 2px solid rgb(128, 111, 111);
              border-radius: 5px;
              padding: 10px 0 20px 0; 
              
              }
              .name {
                width: 90%;
                height: 30px;
                color: rgb(196, 68, 90);
                border-bottom: 3px solid rgb(128, 111, 111);
                margin-left: 10px;
                padding-left: 10px;
                font-size: 15px;
                font-weight: 900;
                box-sizing: border-box;
                overflow: scroll;
                text-align: right;
              }
              .comment {
                height: 70px;
                padding: 10px 20px;
                overflow: scroll;
                font-size: 13px;
                font-weight: 900;
                word-wrap: break-word;
                color: rgba(61, 58, 47, 0.9);
            }
          }
          .comment-form{
            height: 130px;
            width: 290px;
            border-radius: 10px;
            margin: 20px auto 0 auto;
            border: 4px solid rgba(59, 56, 56, 0.589);
            box-shadow: 0.2em 0.2em 0.5em black;
            background-color: white;
            .form-size {
              height: 90px;
              width: 100%;
              border-radius: 10px;
              padding: 10px;
              box-sizing: border-box;
              overflow: scroll;
              border: none;
              color: rgba(61, 58, 47, 0.9);
              font-weight: 900;
              outline: 0;
            }
            .submit-btm__size {
              height: 30px;
              width: 70px;
              margin:  0px 0 0 200px;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}