.diaries-edit__wrapper {
  height: 100vh;
  width: 100vw;
  .edit-main {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    &__left {
      position: relative;
      height: 100%;
      width: 100%;
      .top {
        height: calc(100% / 2 - 10px);
        width: 100%;
        .posts-title {
          width: 200px;
          height: 40px;
          font-size: 28px;
          color: rgb(184, 41, 41);
          font-weight: 700;
          margin: 20px 0 0 50px;
          text-align: center;
          border-bottom: 5px solid rgb(77, 64, 64);
        }
        .posts-box{
          width: 1016px;
          height: calc(100% - 70px);
          display: flex;
          align-items: center;
          overflow-x: scroll;
          &::-webkit-scrollbar {
            display:none;
        }
          .mydiary-path {
            text-decoration: none;
            margin-left:30px;
            color: black;
            .post-box{
              width: 280px;
              height: 250px;
              min-width: 280px;
              box-shadow: 0.2em 0.2em 0.5em;
              border-radius: 10px;
              background-color: rgba(110, 85, 85, 0.486);
              display: inline-block;
              cursor: pointer;
              &:hover {
                transition: 0.3s;
                box-shadow: none;
              }
              .post-title{
                width: 180px;
                height: 25px;
                font-size: 13px;
                text-align: center;
                line-height: 30px;
                padding: 0 10px;
                margin: 10px auto;
                box-shadow: 0.2em 0.2em 0.5em;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: rgb(107, 95, 95);
                border-radius: 10px;
                font-weight: 550;
                background-color: rgb(250, 250, 250);
              }
              .post-content{
                width: 230px;
                height: 160px;
                padding:0 10px 0 10px;
                margin: 0 auto;
                font-size: 13px;
                word-wrap: break-word;
                white-space: pre-wrap;
                color: rgb(107, 95, 95);
                text-overflow: ellipsis;
                overflow: scroll;
                box-shadow: 0.2em 0.2em 0.5em;
                border-radius: 10px;
                font-weight: 550;
                box-sizing: border-box;
                background-color: rgb(250, 250, 250);
                line-height: 15px;
              }
              .post-datetime {
                width: 200px;
                height: 20px;
                margin: 10px 0 0 60px;
                font-size: 13px;
                text-align: right;
                letter-spacing: 1px;
                line-height: 25px;
                font-weight: 700;
                color: rgb(37, 16, 16);
              }
            }
          }
          .empty-box {
            width: 50px;
            height: 50px;
            min-width: 50px;
          }
        }
      }
      .bottom {
        height: calc(100% / 2 - 10px);
        width: 100%;
        .favorites-title {
          width: 200px;
          height: 40px;
          font-size: 28px;
          font-weight: 700;
          margin-left: 50px;
          text-align: center;
          color: rgb(163, 155, 42);
          border-bottom: 5px solid rgb(77, 64, 64);
        }
        .favorites-box{
          width: 1016px;
          height: calc(100% - 70px);
          display: flex;
          align-items: center;
          overflow-x: scroll;
          &::-webkit-scrollbar {
            display:none;
          }
          .favoritediary-path {
            text-decoration: none;
            margin-left:30px;
            color: black;
            .favorite-box{
              width: 280px;
              height: 250px;
              min-width: 280px;
              box-shadow: 0.2em 0.2em 0.5em;
              border-radius: 10px;
              background-color: rgba(110, 85, 85, 0.486);
              display: inline-block;
              cursor: pointer;
              &:hover {
                transition: 0.3s;
                box-shadow: none;
              }
              .favorite-title {
                width: 180px;
                height: 25px;
                font-size: 13px;
                text-align: center;
                line-height: 30px;
                padding: 0 10px;
                margin: 12px auto;
                box-shadow: 0.2em 0.2em 0.5em;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: rgb(107, 95, 95);
                border-radius: 10px;
                font-weight: 550;
                background-color: rgb(250, 250, 250);
              }
              .favorite-content {
                width: 230px;
                height: 160px;
                padding:0 10px 0 10px;
                margin: 0 auto;
                font-size: 13px;
                word-wrap: break-word;
                white-space: pre-wrap;
                color: rgb(107, 95, 95);
                text-overflow: ellipsis;
                overflow: scroll;
                box-shadow: 0.2em 0.2em 0.5em;
                border-radius: 10px;
                font-weight: 550;
                box-sizing: border-box;
                background-color: rgb(250, 250, 250);
                line-height: 15px;
              }
              .favorite-bottom {
                display: flex;
                justify-content: space-between;
                width: 220px;
                height: 20px;
                margin: 8px 0 0 35px;
                text-align: right;
                letter-spacing: 1px;
                line-height: 25px;
                font-weight: 700;
                color: rgb(37, 16, 16);
                .favorite-user {
                  line-height: 30px;
                  width: 110px;
                  text-align: end;
                  font-size: 13px;
                }
                .favorite-datetime {
                  line-height: 30px;
                  font-size: 13px;
                }
              }
            }
          }
          
          
          .empty-box {
            width: 50px;
            height: 50px;
            min-width: 50px;
          }
        }
      }
      .form-contents__wrapper {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.95);
        display: none;
        .form-b {
          position: relative;
          margin: 30px 0 0 450px;
          border:3px solid black; 
          width:300px;
          height: 190px;
          box-sizing: border-box;
          border-radius: 10px;
          .form-title{
            width: 280px;
            height: 40px;
            font-size: 20px;
            margin: 5px auto;
            text-align: center;
            line-height: 50px;
          }
          #edit-btn {
            position: absolute;
            top: 15px;
            right: 10px;
            border: none;
            outline: 0;
          }
          .form-contents{
            height: 130px;
            width: 250px;
            position: relative;
            margin-left: 30px;
            .edit-btn{
              position: absolute;
              bottom: 12px;
              right: 15px;
            }
          }
        }
        .form-image {
          height: 300px;
          width: 500px;
        }
      } 
    }
    &__right {
      width: 500px;
      height: 100%;
      padding-top: 20px;
      box-sizing: border-box;
      background-color: rgb(224, 220, 207);
      border-left: 10px solid rgb(25, 48, 7);
      .following-users__contents {
        width: 320px;
        height: 45%;
        box-sizing: border-box;
        padding: 10px;
        background-color: rgba(136, 121, 48, 0.658);
        margin: 0 auto;
        font-weight: 900;
        border-radius: 10px;
        box-shadow: 0.2em 0.2em 0.5em black;
        .content-title {
          width: 100px;
          height: 30px;
          text-align: center;
          background-color: whitesmoke;
          font-size: 20px;
          box-shadow: 0.2em 0.2em 0.5em;
          border-radius: 10px;
          margin: 0 auto;
         
        }
        .following-users {
          height: calc( 100% - 35px);
          background-color: whitesmoke;
          border-radius: 10px;
          margin-top: 5px;
          overflow: scroll;
          .followuser {
            text-decoration: none;
            .following-user {
              display: flex;
              height: 40px;
              border-bottom: 2px solid rgba(182, 145, 42, 0.479);
              padding-left: 10px;
              margin: 15px auto;
              box-sizing: border-box;
              color: rgb(58, 48, 48);
              &:hover {
                background-color: rgb(216, 216, 212);
                box-shadow: 0.2em 0.2em 0.5em;
                transition: 0.3s;
              }
              .following-image{
                width: 45px;
                height: 35px;
                background-image: url("/images/gorilla4.png"); 
                background-size: cover;
              }
              .following-nickname  {
                line-height: 50px;
                margin-left: 70px;
                font-size: 15px;
              }
            }
          }
        }
      }
      .browdsing-history {
        height: 48%;
        width: 300px;
        background-color: rgba(136, 121, 48, 0.658);
        border-radius: 10px;
        padding: 10px;
        margin: 20px auto 0 auto;
        box-shadow: 0.2em 0.2em 0.5em black;  
        .browdsing-history__title{
          width: 100px;
          height: 30px;
          text-align: center;
          background-color: whitesmoke;
          font-size: 20px;
          font-weight: 900;
          border-radius: 10px;
          margin: 0 auto;
          box-shadow: 0.2em 0.2em 0.5em;
        }
        .browdsing-history__diaries {
          height: calc( 100% - 40px);
          background-color: whitesmoke;
          border-radius: 10px;
          margin: 5px auto 10px auto;
          overflow: scroll;
          .historydiary-path {
            text-decoration: none;
            .browdsing-history__diary {
              padding: 5px 0 5px 10px;
              margin-top: 20px;
              font-size: 15px;
              font-weight: 900;
              border-bottom: 2px solid rgba(182, 145, 42, 0.479);
              color: rgb(58, 48, 48);
              &:hover {
                background-color: rgb(216, 216, 212);
                box-shadow: 0.2em 0.2em 0.5em;
                transition: 0.3s;
              }
              .browdsing-history__diary-head{
                position: relative;
                display: flex;
                .history-image{
                  width: 35px;
                  height: 21px;
                  background-image: url("/images/book.png");
                  background-size: cover;
                }
                .history-nickname {
                  margin-left: 20px;
                  font-size: 15px;
                  color: rgb(58, 48, 48);
                }
                .history-datimes {
                  position: absolute;
                  right: 55px;
                  bottom: 3px;
                  font-weight: 900;
                  color: rgb(223, 112, 39);
                }  
              }
              .browdsing-history__diary-bottom {
                font-size: 12px ;
                padding-right: 5px;
                margin-top: 20px;
                color: rgb(107, 95, 95);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              
            }
          }
        }
      }
    }
  }
}